In [26]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [28]:
#verisetini okuyoruz
df=pd.read_csv("Puanlar.csv")
df2=df.copy()

In [29]:
df.head()

,ID,Bolum,Universite,Sehir,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,0,Bilgisayar Mühendisligi,ANADOLU ÜNİVERSİTESİ (ESKİŞEHİR)-İ,Eskişehir,0.000,0.000,0.0,0.0,350.781,349.184,351.886,331.568,346.516,338.689,452.0,476.512
1,1,Bilgisayar Mühendisligi,ANKARA ÜNİVERSİTESİ,Ankara,0.000,0.000,0.0,0.0,352.496,354.072,356.375,337.520,350.939,342.315,458.0,487.446
2,2,Bilgisayar Mühendisligi,ATILIM UNİVERSİTESİ (ANKARA),Ankara,172.266,170.072,0.0,0.0,252.992,279.343,296.337,296.337,272.082,253.769,0.0,0.000
3,3,Bilgisayar Mühendisligi,ATILIM UNİVERSİTESİ (ANKARA)-B,Ankara,0.000,0.000,0.0,0.0,340.244,339.154,345.326,315.555,335.198,328.233,437.0,459.950
4,4,Bilgisayar Mühendisligi,ATILIM UNİVERSİTESİ (ANKARA)-B50,Ankara,0.000,0.000,0.0,0.0,0.000,0.000,334.631,295.837,316.256,308.373,334.0,382.086

### Veri setinde bölüm, üniversite ve kayıt sayıları aşağıda listelenmiştir.

In [30]:
df['ID'].value_counts()

140    1
43     1
49     1
48     1
47     1
      ..
99     1
100    1
101    1
102    1
0      1
Name: ID, Length: 141, dtype: int64

In [31]:
df['Universite'].value_counts()

EGE ÜNİVERSİTESİ (İZMİR)               2
HACETTEPE ÜNİVERSİTESİ (ANKARA)        2
BAŞKENT  ÜNİVERSİTESİ (ANKARA)         2
BAŞKENT  ÜNİVERSİTESİ (ANKARA)-B       2
YEDİTEPE  ÜNİVERSİTESİ (İSTANBUL)      2
                                      ..
İSTANBUL KÜLTÜR  ÜNİVERSİTESİ-İ-B      1
HARRAN ÜNİVERSİTESİ (fiANLIURFA)       1
MALTEPE  ÜNİVERSİTESİ (İSTANBUL)       1
BEYKENT ÜNİVERSİTESİ (İSTANBUL)        1
ONDOKUZ MAYIS ÜNİVERSİTESİ (SAMSUN)    1
Name: Universite, Length: 131, dtype: int64

In [32]:
df['Bolum'].value_counts()

Bilgisayar Mühendisligi    85
Tıp Fakültesi              56
Name: Bolum, dtype: int64

In [33]:
df['Sehir'].value_counts()

İstanbul         46
Ankara           25
Kktc              9
İzmir             9
Kocaeli           4
Eskişehir         3
Konya             3
Sakarya           2
Adana             2
Isparta           2
Kayseri           2
Denizli           2
Şanlıurfa         2
Mersin            2
Çanakkale         2
Elazığ            2
Trabzon           2
Edirne            2
Kütahya           1
Aydın             1
Zonguldak         1
Bursa             1
Düzce             1
Van               1
KARS              1
Antalya           1
Tokat             1
Malatya           1
Kahramanmaraş     1
Samsun            1
Kırıkkale         1
Manisa            1
Gaziantep         1
Diyarbakır        1
Bolu              1
Erzurum           1
Afyon             1
Sivas             1
Name: Sehir, dtype: int64

## Eksik Veri Kontrolü

Veri setimiz aşağıda kontrol edilmiş ve sütunlarda eksik veri bulunmamaktadır.

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          141 non-null    int64
 1   Bolum       141 non-null    object
 2   Universite  141 non-null    object
 3   Sehir       141 non-null    object
 4   1999        141 non-null    float64
 5   2000        141 non-null    float64
 6   2001        141 non-null    float64
 7   2002        141 non-null    float64
 8   2003        141 non-null    float64
 9   2004        141 non-null    float64
 10  2005        141 non-null    float64
 11  2006        141 non-null    float64
 12  2007        141 non-null    float64
 13  2008        141 non-null    float64
 14  2009        141 non-null    float64
 15  2010        141 non-null    float64
dtypes: float64(12), int64(1), object(3)
memory usage: 17.8+ KB

In [35]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [36]:
X = df[['1999', '2000','2001', '2002', '2003', '2004', '2005','2006','2007']] .values
y = df['2010'].values

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [38]:
print(X_train)  
print(y_train)

[[  0.      0.      0.      0.    368.227 369.692 370.648 359.295 365.892]
 [  0.      0.      0.      0.    366.651 370.275 373.07  365.822 371.574]
 [  0.      0.      0.      0.    348.078 349.714 354.61  339.431 353.517]
 [  0.      0.      0.      0.      0.      0.      0.    311.429   0.   ]
 [  0.      0.      0.      0.    284.319 310.617 318.932 274.17  297.601]
 [  0.      0.      0.      0.    350.991 350.75  353.589 334.217 348.656]
 [  0.    209.187 211.741   0.    357.635 359.836 364.242 353.436 362.902]
 [  0.      0.      0.      0.      0.      0.    263.379 263.379 297.907]
 [  0.      0.      0.      0.    335.273 342.215 348.778 330.819 348.586]
 [  0.      0.      0.      0.      0.      0.    334.73  303.215 323.825]
 [  0.      0.      0.      0.    351.403 352.651 357.401 343.301 356.008]
 [  0.      0.      0.      0.    348.718 350.851 356.232 341.681 355.225]
 [  0.      0.      0.      0.    350.321 350.475 352.48  325.734 343.608]
 [170.884 178.028 176.121 183.678 321.951 330.231 339.503 316.304 341.904]
 [  0.      0.      0.      0.    371.116 371.116 374.29  363.1   368.903]
 [  0.      0.      0.      0.    358.815 361.003 364.805 352.937 356.282]
 [  0.      0.      0.      0.    353.867 356.677 362.076 349.832 358.302]
 [172.317   0.    183.218   0.    309.045 310.068 317.063 257.466 282.991]
 [  0.      0.      0.      0.    349.293 351.177 356.195 340.603 354.656]
 [177.652 183.338 170.935 169.482 301.055 313.609 316.799 271.396 291.583]
 [  0.      0.      0.      0.      0.    347.96  353.224 337.208 352.502]
 [202.098   0.    206.004 203.553 345.085 344.858 348.034 321.725 342.544]
 [  0.      0.      0.      0.    347.535 345.948 349.723 329.748 344.844]
 [  0.      0.      0.      0.    353.005 355.047 359.965 346.376 357.923]
 [  0.      0.      0.      0.    347.64  349.069 354.135 338.418 353.487]
 [  0.      0.      0.      0.    340.244 339.154 345.326 315.555 335.198]
 [  0.      0.    201.829 186.818 314.644 324.213 327.03  288.183 311.017]
 [  0.      0.      0.      0.    340.816 339.633 344.039 320.311 338.841]
 [  0.      0.      0.      0.    364.702 367.601 369.973 361.615 369.076]
 [213.344   0.      0.    211.202 353.92  352.664 353.301 333.825 347.154]
 [  0.      0.      0.    207.312 351.857 352.648 356.32  339.476 350.537]
 [  0.      0.      0.      0.    371.407 373.249 372.679 360.545 366.785]
 [  0.      0.      0.      0.    349.817 351.657 356.416 341.779 355.16 ]
 [  0.      0.      0.      0.    350.753 352.385 363.361 342.558 355.344]
 [  0.      0.      0.      0.    349.877 351.261 355.775 339.717 353.728]
 [  0.      0.      0.      0.    352.617 353.504 358.142 344.288 356.491]
 [207.962   0.      0.    193.651 335.785 337.751 338.685 311.405 328.267]
 [  0.      0.      0.      0.    347.212 348.682 353.856 338.007 352.949]
 [  0.      0.      0.      0.      0.      0.      0.    307.706 332.585]
 [  0.      0.      0.      0.    365.621 367.137 368.686 355.792 362.249]
 [  0.      0.      0.      0.    350.378 352.445 357.657 344.512 356.983]
 [  0.      0.      0.      0.    352.496 354.072 356.375 337.52  350.939]
 [  0.      0.      0.      0.    349.    350.909 355.541 339.896 354.11 ]
 [  0.      0.      0.      0.    350.941 351.935 356.419 341.532 354.772]
 [  0.      0.      0.      0.    268.786 297.656 308.479 268.045 291.639]
 [  0.      0.      0.      0.      0.      0.    334.631 295.837 316.256]
 [  0.      0.      0.      0.    359.149 361.938 366.023 355.998 364.622]
 [  0.      0.      0.      0.      0.      0.    348.662 328.777 344.766]
 [  0.      0.      0.      0.    352.062 350.997 352.946 332.536   0.   ]
 [164.574 164.741   0.      0.    238.015 270.878 286.379 286.379 277.786]
 [  0.      0.      0.      0.    368.466 371.958 373.252 362.467 368.379]
 [209.074 207.433   0.      0.    354.786 356.428 361.172 348.56  359.308]
 [  0.      0.      0.      0.    361.123 363.344 367.346 356.823 365.6  ]
 [  0.      0.      0.      0.    350.781 349.184 351.886 331.568 346.516]
 [  0.    147.028 134.812 135.791 347.467 343.253 347.788 318.575 336.017]
 [  0.      0.      0.      0.    338.222 336.2   339.99  312.754 332.339]
 [  0.      0.      0.      0.    344.452 343.34  346.425 319.147 304.627]
 [  0.      0.      0.      0.    358.986 358.454 359.512 342.072 351.625]
 [  0.      0.      0.      0.      0.      0.    334.706   0.      0.   ]
 [  0.      0.      0.      0.    355.556 354.101 355.671 334.85  348.159]
 [  0.    207.609   0.    178.3   360.06  362.174 362.528 326.87  345.834]
 [  0.      0.      0.      0.    347.321 344.623 349.376 327.501 344.314]
 [  0.      0.      0.      0.    347.637 349.169 354.241 338.639 353.223]
 [  0.      0.      0.      0.    341.935 340.679 345.111   0.      0.   ]
 [  0.      0.      0.      0.    351.029 353.11  358.435 345.589 357.43 ]
 [  0.      0.      0.      0.      0.      0.      0.    314.907 334.28 ]
 [  0.      0.      0.      0.    360.64  360.926 361.746 346.962 354.973]
 [  0.      0.      0.      0.    351.453 353.69  358.563 345.716 357.239]
 [  0.      0.      0.      0.    341.406 340.263 344.517 320.35  338.878]
 [  0.      0.      0.      0.    365.876 368.135 370.795 363.396 370.21 ]
 [  0.      0.    205.436   0.    343.775 343.123 346.555 316.643 335.826]
 [  0.      0.      0.      0.    359.45  359.613 360.368 345.762 355.867]
 [  0.      0.      0.      0.    344.119 343.369 347.012 324.969 341.075]
 [  0.      0.      0.      0.    352.486 354.21  359.592 346.719 358.319]
 [  0.      0.      0.      0.    347.962 349.557 354.683 339.292 353.625]
 [190.525 193.419 193.16    0.    220.62  276.593 309.457 273.666 296.657]
 [  0.      0.      0.    201.536 342.176 341.12  345.605 321.708 339.881]
 [  0.      0.      0.    215.99  362.521 364.421 367.524 350.242 359.688]
 [  0.      0.      0.    125.627 256.783 280.611 309.167 279.393 285.548]
 [  0.      0.      0.      0.      0.      0.     36.612 355.657 363.486]
 [  0.      0.      0.      0.    348.76  350.404 355.599 340.536 354.878]
 [  0.      0.      0.      0.      0.    259.937 287.035 287.035 316.166]
 [169.787 170.777 157.718 174.923   0.      0.      0.      0.      0.   ]
 [  0.      0.      0.      0.      0.      0.    331.434 300.538 315.682]
 [  0.    206.386   0.      0.    357.18  365.053 366.612 355.736 364.727]
 [  0.      0.      0.      0.    332.328 347.447   0.    301.195 323.506]
 [  0.      0.      0.      0.    336.181 332.28  323.806 299.489 322.745]
 [175.113   0.    172.033 172.939 303.867 313.058 323.356 268.77  293.448]
 [  0.      0.    212.126   0.    350.184 336.167 346.952   0.      0.   ]
 [  0.      0.      0.      0.      0.      0.    270.798 270.798 270.798]
 [202.734 201.956   0.    204.689 348.387 350.048 355.456 340.711 355.063]
 [  0.      0.    213.567   0.    351.07  348.76  351.341 330.445 346.127]
 [  0.      0.      0.      0.    349.111 352.395 361.533 352.43  360.412]
 [149.913 156.642   0.      0.      0.    257.395 273.582 273.582 253.626]
 [  0.      0.      0.      0.      0.      0.      0.      0.      0.   ]
 [  0.      0.      0.      0.    354.126 355.76  360.489 347.563 358.422]
 [  0.      0.      0.      0.    340.026 338.717 342.296 314.891 334.474]
 [  0.      0.      0.      0.    348.357 350.037 355.392 269.698 354.19 ]
 [171.6   174.037 158.711 153.525 244.365 268.607 278.746   0.      0.   ]
 [  0.      0.      0.      0.    353.997 352.699 354.168 333.979 347.356]
 [  0.      0.      0.      0.    263.927 297.311 291.191 291.191 273.542]
 [  0.      0.      0.    212.406 358.825 361.558 365.231 354.033 363.299]
 [  0.      0.      0.      0.      0.      0.      0.    314.874 336.597]
 [  0.      0.      0.      0.    350.294 351.392 356.354 341.109 354.719]
 [148.47  155.255   0.    148.343 270.879 296.162 302.839 302.839 278.703]]
[528.867 556.723 515.775 445.98  255.991 482.464 541.674   0.    499.6
 375.673 523.47  521.9   476.889 495.71  542.565 533.06  524.388 239.
 517.416 259.    513.073 468.867 468.22  526.98  515.112 459.95  376.815
 442.21  554.877 486.    496.154 536.104 520.614 519.316 517.256 522.394
 415.268 514.466 493.506 517.602 523.88  487.446 520.443 518.822 254.589
 382.086 544.83  459.212 482.334 381.    538.464 532.776 541.595 476.512
 452.007 402.817 456.059 500.228 394.256 484.95  490.512 462.693 515.091
   0.    528.343 414.736 500.856 525.487 439.999 552.96  450.985 510.978
 456.682 530.914 516.701   0.    448.277 517.542 262.195 521.184 518.107
 352.      0.    317.206 543.87  462.369 457.219 229.    444.182   0.
 520.423 473.181 528.267 366.      0.    528.771 423.784 517.151   0.
 477.721 357.    537.028 431.917 517.831 349.   ]

## Lineer Regresyon (Sklearn)

In [39]:
#L_Reg=LinearRegression()
L_Reg = LinearRegression().fit(X_train, y_train)
L_Reg.score(X,y)

0.4558686375321833

## Lineer Regresyon (Sklearn Kütüphanesi Kullanmadan)

In [40]:
#Burada csv dosyasını okuduğumuz df değişkenini kullanmak üzere puanlar değişkenine atıyoruz.
puanlar = df
colums = (puanlar.columns[0])
puanlar.head()

,ID,Bolum,Universite,Sehir,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,0,Bilgisayar Mühendisligi,ANADOLU ÜNİVERSİTESİ (ESKİŞEHİR)-İ,Eskişehir,0.000,0.000,0.0,0.0,350.781,349.184,351.886,331.568,346.516,338.689,452.0,476.512
1,1,Bilgisayar Mühendisligi,ANKARA ÜNİVERSİTESİ,Ankara,0.000,0.000,0.0,0.0,352.496,354.072,356.375,337.520,350.939,342.315,458.0,487.446
2,2,Bilgisayar Mühendisligi,ATILIM UNİVERSİTESİ (ANKARA),Ankara,172.266,170.072,0.0,0.0,252.992,279.343,296.337,296.337,272.082,253.769,0.0,0.000
3,3,Bilgisayar Mühendisligi,ATILIM UNİVERSİTESİ (ANKARA)-B,Ankara,0.000,0.000,0.0,0.0,340.244,339.154,345.326,315.555,335.198,328.233,437.0,459.950
4,4,Bilgisayar Mühendisligi,ATILIM UNİVERSİTESİ (ANKARA)-B50,Ankara,0.000,0.000,0.0,0.0,0.000,0.000,334.631,295.837,316.256,308.373,334.0,382.086

In [41]:
#Tahminde bulunmak üzere puanlar dışında ki değerleri kaldırıyoruz.
del puanlar['ID']
del puanlar['Bolum']
del puanlar['Universite']
del puanlar['Sehir']

In [42]:
#Sonraki aşamalarda normalizasyon yapılacağı için orjinal değerleri yazdırabilmek adına puanlari tmp değişkeninde tutuyoruz.
tmpPuan=puanlar.copy()

In [43]:
#max ve min değerlerini tutuyoruz.
max= [puanlar[c].max() for c in puanlar.columns] 
min= [puanlar[c].min() for c in puanlar.columns]

In [44]:
#Normalizasyon işlemi uyguluyoruz.
i=0
for c in puanlar.columns:
    while(i<len(puanlar.columns)): 
        puanlar[c]=(puanlar[c]-min[i])/(max[i]-min[i])
        i=i+1
        break

In [45]:
#Son 3 yılı tahminde bulunmak için veriyi bölüyoruz.
array = puanlar.values
x_train=[]
yil10=[]
yil09=[]
yil08=[]
a=puanlar.shape
for i in range(a[0]):                      
    x_train.append((array[i][:-3]).tolist())
    yil08.append(array[i][-1])
    yil09.append(array[i][-2])
    yil10.append(array[i][-3])

In [46]:
#x_train için katsayılar matrisi hesaplıyoruz.
m=np.ones((141,1)) #Toplam kayıt sayısı 141'dir.
b=np.matrix(x_train)
b=np.concatenate((m,b),axis=1)     
d=b.T
e=np.linalg.inv(np.matmul(d,b))
yil10=np.matrix(yil10)
yil10=yil10.T
yil09=np.matrix(yil09)
yil09=yil09.T
yil08=np.matrix(yil08)
yil08=yil08.T
f=np.matmul(e,d)
c1=np.matmul(f,yil10)
c2=np.matmul(f,yil09)
c3=np.matmul(f,yil08)

In [52]:
#Burada test verilerini alıyoruz.(199-2008 arası değerler toplam 9 adet)Ardından tahminde bulunarak saklıyoruz.
x_test=[[1],]
id=[int(input("Tahminde bulunmak istediğiniz üniversite için ID giriniz :"))]

for j in range(9):
    print(float(tmpPuan.iloc[id,j]))
    x_test.append([float(tmpPuan.iloc[id,j])])

for i in range(9):
    x_test[i+1][0]=(x_test[i+1][0]-min[i])/(max[i]-min[i])
x_test=np.matrix(x_test)
yil10=np.matmul(c1.T,x_test)
yil09=np.matmul(c2.T,x_test)
yil08=np.matmul(c3.T,x_test)

Tahminde bulunmak istediğiniz üniversite için ID giriniz :91
198.516
199.305
197.52200000000002
200.424
345.185
348.04
353.37199999999996
336.283
351.236

In [53]:
#Burada da normalizasyon işlemi geri alınarak tahmin yazdırılır ve gerçek değerler ile karşılaştırılır.
print("İlgili ID'ye ait üniversite :", str(df2.iloc[id,2]), "\nBölüm :", str(df2.iloc[id,1]))
print("2010 tahmini:",(yil10*(max[-1]-min[-1]))+min[-1], "Gerçek Değer: ", float(tmpPuan.iloc[id,11]))
print("2009 tahmini:",(yil09*(max[-2]-min[-2]))+min[-2], "Gerçek Değer: ", float(tmpPuan.iloc[id,10]))
print("2008 tahmini:",(yil08*(max[-1]-min[-1]))+min[-1], "Gerçek Değer: ", float(tmpPuan.iloc[id,9]))

İlgili ID'ye ait üniversite : 91    BAŞKENT  ÜNİVERSİTESİ (ANKARA)
Name: Universite, dtype: object
Bölüm : 91    Tıp Fakültesi
Name: Bolum, dtype: object
2010 tahmini: [[512.34564358]] Gerçek Değer:  507.69300000000004
2009 tahmini: [[366.46740025]] Gerçek Değer:  473.0
2008 tahmini: [[330.39503267]] Gerçek Değer:  342.913